---
layout: page
title: ''

---
<div class="grid-x grid-margin-x">
  <div class="cell medium-9">
    {% for post in site.posts %}
    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
    <p class="text-justify">{{ post.excerpt }}</p>
    <p style="color: #8a8a8a">{{ post.date | date: "%-d %B %Y" }}</p>    
    <a href="{{ post.url }}" class="button">Continue Reading <i class="fa fa-arrow-circle-right"></i></a>
    <hr>
    {% endfor %}
  </div>
  <div class="cell medium-3">
    <p style="font-weight: bold;">RECENT POSTS</p>
    <ul>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
