---
layout: page
section: 'News'
---
<div class="row">
  <div class="medium-9 columns">
    {% for post in site.posts %}
    <div class="small-12 columns">
      <h4 class="subheader float-right"></h4>
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <p class="text-justify">{{ post.excerpt }}</p>
    </div>
    <div class="medium-6 large-8 columns">
      <p style="color: #8a8a8a">{{ post.date | date: "%-d %B %Y" }}</p>
    </div>
    <div class="medium-6 large-4 columns">    
      <a href="{{ post.url }}" class="button float-right">Continue Reading <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    {% endfor %}
  </div>
  <div class="medium-3 columns">
    <p style="font-weight: bold;">RECENT POSTS</p>
    {% for post in site.posts limit:5 %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>
</div>
