<div id="fsmu-footer" style="margin-top: 4rem;">
  <div class="grid-x grid-container">
    <div class="medium-4 columns">
      <p style="font-weight: bold;">PARTNERS OVER THE YEARS<p>
      {% for item in site.data.partners %}
      <a href="{{ item.site }}" title="{{ item.name }}" target="_blank">
        <img src="/assets/images/{{ item.image }}" />
      </a>
      {% endfor %}
    </div>
    <div class="cell medium-4">
      <p style="font-weight: bold;">NEWSLETTER<p>
    </div>
    <div class="cell medium-4">
      <p style="font-weight: bold;">SITEMAP<p>
    </div>
  </div>
</div>

<div id="fsmu-social-bar">
  <div class="grid-x grid-container">
    <div class="cell auto">
    </div>
    <div class="cell shrink">
      <ul class="menu grid-container">
        {% for item in site.social %}
        <li><a href="{{ item.site }}" target="_blank" title="FSMU on {{ item.name }}"><i class="fa fa-{{ item.icon }}"></i></a></i>
        {% endfor %}
      </ul>
    </div>
    <div class="cell auto">
    </div>
  </div>
</div>

<div id="fsmu-copyright">
  <div class="grid-x grid-container">
    <div class="cell medium-auto">
      <p>&#169; {{ site.time | date: '%Y' }} | {{ site.title }}</p>
    </div>
    <div class="cell medium-shrink">
      <p>Developed by <a href="https://eelviny.me" title="Eelviny" target="_blank">Eelviny</a></p>
    </div>
  </div>
</div>
