<div style="background-color: {{ site.color.secondary }}">
  <div class="grid-container">
    <h1 id="fsmu-title"><img src="/assets/images/smalllogo.svg" /> {{site.extitle}}</h1>
  </div>
</div>

<div id="fsmu-top-bar">
  <div class="top-bar grid-container">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        {% for item in site.menu %}
        <li><a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/donate" id="donatebutton" class="button hollow large">DONATE</a></i>
      </ul>
    </div>
  </div>
</div>
