<div style="background-color: {{site.color.secondary}}">
  <div class="column row">
    <h1 style="color: white">{{site.title}}</h1>
  </div>
</div>
<div style="padding: 2px"></div>

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
</div>

<div id="fsmu-top-bar">
<div class="top-bar row">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      {% for item in site.menu %}
      <li><a href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button" class="button">DONATE</button></li>
    </ul>
  </div>
</div>
</div>
