<head>
  <!-- Last update {{ site.time | date: '%d/%m/%Y %H:%M %Z'}} -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="{{ site.main_color }}">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="icon" type="image/png" href="/assets/images/icon64.png" />
  <link rel="icon" type="image/png" href="/assets/images/icon256.png" />
  <link rel="apple-touch-icon-precomposed" href="/assets/images/icon128.png" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-sans-fontface@1.4.0/open-sans.css" integrity="sha256-krT6LoJqEPxFmpNmt5UAcMwmXFHGyJbshbxqTZzqojI=" crossorigin="anonymous">
  {% seo title=false %}
  {% if page.layout == 'home' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous">
  {% endif %}
</head>
