<script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/what-input/2.1.1/what-input.min.js" integrity="sha256-MYI3/hm6ht8LQYtVTBoHIcQYM4tnUl1UXnjg/zA/j18=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js" integrity="sha256-orE03LSc9KVys7WmCWaOa5LauIvfUpJeaiKbggQBB+8=" crossorigin="anonymous"></script>
{% if page.layout == 'homepage' %}
<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js" integrity="sha256-4Cr335oZDYg4Di3OwgUOyqSTri0jUm2+7Gf2kH3zp1I=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slick-slider').slick({
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
      mobileFirst: true
    });
  });
</script>
{% endif %}
<script>
  $(document).foundation();
</script>
