<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/what-input@5.0.3/dist/what-input.min.js" integrity="sha256-yYpZnv9m2EQxm8z6/mQAmY941wpZ0xO2F5AfmSpusMY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.4-rc1/dist/js/foundation.min.js" integrity="sha256-dqPtn68e6BmkXWcRBSKukI0R1Ubv+pmWc+OxfkLLM10=" crossorigin="anonymous"></script>
{% if page.layout == 'home' %}
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.slick-slider').slick({
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
      mobileFirst: true
    });
  });
</script>
{% endif %}
<script>
  $(document).foundation();
</script>
