---
---
@import 'settings/settings';
@import 'foundation';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

#fsmu-title {
  color: white;
  font-family: 'Open Sans Condensed';
  text-align: center;
  font-size: 200%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  img {
    max-height: 40px;
    max-width: 40px;
    }
  }

#fsmu-top-bar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $primary-color;
  color: $white;
  a {
    color: $white;
    text-transform: uppercase;
    &:hover {
      color: $light-gray;
    }
  #donation-button {
    background-color: blue;
    margin: 0;
    }
  }
}

.focus-block {
  color: white;
  text-align: center;
  background-color: {{ site.color.secondary }};
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 0 0 15px 15px;
  }
  
#fsmu-footer {
  color: white;
  background-color: {{ site.color.secondary }};
  padding-top: 4rem;
  padding-bottom: 3rem;
  img {
    width:90%;
    max-width: 400px;
    padding-bottom: 10px
    }
  }
#fsmu-social-bar {
  @extend #fsmu-footer;
  background-color: #695442;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  letter-spacing: 5px;
  font-size: 200%;
  }
#fsmu-copyright {
  @extend #fsmu-footer;
  padding-top:1.5rem;
  padding-bottom: 0.5rem;
  font-size: 75%;
  text-transform: uppercase;
  }
  

